<section class="advantages container">
  <h2 id="advantages" class="advatages-title">Our advantages</h2>
  <ul class="advantages-list">
    <li class="advantages-item">
      <svg class="star" width="26" height="26">
        <use href="./images/sprite.svg#icon-star"></use>
      </svg>
      author's tours
    </li>
    <li class="advantages-item">
      <svg class="star" width="26" height="26">
        <use href="./images/sprite.svg#icon-star"></use>
      </svg>
      individual approach
    </li>
    <li class="advantages-item">
      <svg class="star" width="26" height="26">
        <use href="./images/sprite.svg#icon-star"></use>
      </svg>
      affordable prices
    </li>
    <li class="advantages-item">
      <svg class="star" width="26" height="26">
        <use href="./images/sprite.svg#icon-star"></use>
      </svg>
      comfortable transfer
    </li>
    <li class="advantages-item">
      <svg class="star" width="26" height="26">
        <use href="./images/sprite.svg#icon-star"></use>
      </svg>
      professional guides
    </li>
    <li class="advantages-item">
      <svg class="star" width="26" height="26">
        <use href="./images/sprite.svg#icon-star"></use>
      </svg>
      accommodation in hotels from 3+ *
    </li>
  </ul>
</section>
