<footer class="footer">
  <div class="container footer-wrap">
    <h2 id="contacts" class="footer-title">Contacts</h2>
    <ul class="footer-list">
      <li class="footer-list-item">
        <a href="" class="footer-item">
          <svg class="footer-icons" width="32" height="32">
            <use href="./images/sprite.svg#icon-place"></use>
          </svg>
          Lviv, st. Doroshenko, 44 ​​k
        </a>
      </li>
      <li class="footer-list-item">
        <svg class="footer-icons" width="32" height="32">
          <use href="./images/sprite.svg#icon-phone"></use>
        </svg>
        <a href="" class="footer-item"> +38 (097) 162 -67-90 </a>
      </li>
      <li class="footer-list-item">
        <svg class="footer-icons" width="32" height="32">
          <use href="./images/sprite.svg#icon-email"></use>
        </svg>
        <a href="" class="footer-item">mandrykarpaty@gmail.com </a>
      </li>
      <li>
        <ul class="footer-soc-list">
          <li>
            <a href="https://www.instagram.com/" class="footer-social-links">
              <svg class="social__icons" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list-item">
            <a href="https://www.instagram.com/" class="footer-social-links">
              <svg class="social__icons" width="40" height="40">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" class="footer-social-links">
              <svg class="social__icons" width="40" height="40">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <p class="footer-text">©Сreated by LelekaSoft</p>
</footer>
