<header class="header">
  <div class="header__container container">
    <a href="#"> <img class="logo_img" src="./images/logo.png" /> </a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#about" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#tours" class="navigation__link">Tours</a>
        </li>
        <li class="navigation__item">
          <a href="#reviews" class="navigation__link">Reviews</a>
        </li>
        <li class="navigation__item">
          <a href="#gallery" class="navigation__link">Gallery</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="menu-button js-open-menu"
      aria-expanded="false"
    >
      <svg width="40" height="40" aria-label="переключатель мобильного меню">
        <use
          class="icon-menu js-open-menu"
          href="./images/sprite.svg#icon-menu"
        ></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu js-menu-container">
  <button class="menu-toggle js-close-menu">
    <svg width="40" height="40">
      <use href="./images/sprite.svg#icon-x"></use>
    </svg>
  </button>
  <div class="mobile-menu__wrap">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#about" class="mobile-menu__link">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#tours" class="mobile-menu__link">Tours</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#reviews" class="mobile-menu__link">Reviews</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#gallery" class="mobile-menu__link">Gallery</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contacts" class="mobile-menu__link">Contacts</a>
      </li>
      <li class="mobile-menu__item">
        <ul class="mobile-soc-list">
          <li>
            <a href="https://www.instagram.com/" class="mobile-social-links">
              <svg class="social__icons" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-list-item">
            <a href="https://www.instagram.com/" class="mobile-social-links">
              <svg class="social__icons" width="40" height="40">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" class="mobile-social-links">
              <svg class="social__icons" width="40" height="40">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
