<section class="hero container">
  <h1 class="hero__title">TOURS TO THE CARPATHIANS FROM LVIV</h1>
  <p class="hero__text">
    Journeys to the very heart of the Carpathians for those who want a real
    reboot
  </p>
  <button type="button" class="hero__button" data-modal-open="modal1">
    BOOK A TOUR
  </button>
  <ul class="social-list">
    <li>
      <a href="https://web.telegram.org/" class="social-links">
        <svg class="social__icons" width="40" height="40">
          <use href="./images/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" class="social-links">
        <svg class="social__icons" width="40" height="40">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/" class="social-links">
        <svg class="social__icons" width="40" height="40">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
