<div class="about-modal modal" data-modal="2">
  <button type="button" class="about-modal-btn js-modal-close">
    <svg class="about-modal-icon" width="24" height="24">
      <use href="./images/icons.svg#icon-close-modal"></use>
    </svg>
  </button>
  <h3>Ascent to Hoverla</h3>
  <p>1 day</p>
  <ul>
    <li>Departure from Lviv</li>
    <li>Manyava Hermitage</li>
    <li>Manyava waterfall</li>
    <li>Arrival to Bukovel</li>
    <li>Check-in</li>
    <li>Dinner</li>
    <li>Evening by the fireplace</li>
  </ul>
</div>
<div class="about-backdrop js-overlay-modal"></div>
