<section class="questions">
  <div class="questions-card">
    <h3 class="questions-title">Do you have any questions?</h3>
    <p class="questions-text">
      You can leave your questions here and our manager will call you back
      within 10 minutes
    </p>
    <form class="questions-form">
      <input
        class="questions-input"
        type="text"
        name="field1"
        required
        placeholder="Your name*"
      />
      <input
        class="questions-input"
        type="tel"
        name="field2"
        required
        placeholder="Phone number*"
      />
      <input
        class="questions-input"
        type="text"
        name="field3"
        placeholder="What would you like to know?"
      />
      <button class="form-button" type="button">CALL ME</button>
    </form>
  </div>
</section>
