<section class="reviews container">
  <h2 id="reviews">Reviews</h2>
  <ul class="reviews-list">
    <li class="review-item">
      <div class="review-card center">
        <div class="front">
          <img src="./images/reviews/marina.png" class="review-photo" alt="" />
          <h3 class="review-name">Maria</h3>
          <p class="review-text">
            It was really cool! We saw everything - sun, snow, rain, fog! It's
            very exciting and interesting, you won't regret it - it's worth
            going and seeing everything with your own eyes. Everything is
            organized at the highest level.
          </p>
          <svg width="40" height="40" class="rotate">
            <use href="./images/sprite.svg#icon-round"></use>
          </svg>
        </div>

        <div class="back">
          <img src="./images/reviews/photo_maria.jpg" alt="" />
        </div>
      </div>
    </li>
    <li class="review-item">
      <div class="review-card center">
        <div class="front">
          <img src="./images/reviews/ostap.png" class="review-photo" alt="" />
          <h3 class="review-name">Ostap</h3>
          <p class="review-text">
            Good organization, everything went smoothly. Friendly guide Taras
            told interesting facts about the area and customs throughout the
            tour.
          </p>
          <svg width="40" height="40" class="rotate">
            <use href="./images/sprite.svg#icon-round"></use>
          </svg>
        </div>

        <div class="back">
          <img src="./images/reviews/photo_ostap.jpg" alt="" />
        </div>
      </div>
    </li>
    <li class="review-item">
      <div class="review-card center">
        <div class="front">
          <img src="./images/reviews/anita.png" class="review-photo" alt="" />
          <h3 class="review-name">Anita</h3>
          <p class="review-text">
            Who is going to the mountains for the first time - this is exactly
            the tour and the people who organize everything. Guide Makar is
            interesting stories, selection of a route for a comfortable ascent,
            motivation and support.
          </p>
          <svg width="40" height="40" class="rotate">
            <use href="./images/sprite.svg#icon-round"></use>
          </svg>
        </div>

        <div class="back">
          <img src="./images/reviews/photo_anita.jpg" alt="" />
        </div>
      </div>
    </li>
  </ul>
</section>
