<section class="tours container">
  <h2 id="tours">Upcoming tours</h2>
  <div class="swiper mySwiperTours">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="tours-slide">
          <img src="./images/tours/hoverla.jpg" alt="" class="tour-image" />
          <h3 class="tour-title">Ascent to Hoverla</h3>
          <p class="tour-price">From UAH 4,499/person</p>
          <button class="tour-button" data-modal-open="modal2">
            MORE DETAILS
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tours-slide">
          <img src="./images/tours/bukovel.jpg" alt="" class="tour-image" />
          <h3 class="tour-title">Ski tour to Bukovel</h3>
          <p class="tour-price">From UAH 7,499/person</p>
          <button class="tour-button" data-modal-open="modal3">
            MORE DETAILS
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tours-slide">
          <img
            src="./images/tours//carpathians.jpg"
            alt=""
            class="tour-image"
          />
          <h3 class="tour-title">Week in Carpathians</h3>
          <p class="tour-price">From UAH 9,999/person</p>
          <button class="tour-button">MORE DETAILS</button>
        </div>
      </div>
    </div>
    <div class="tours-buttons-wrap">
      <div class="tours-button-next">
        <svg width="40" height="40">
          <use href="./images/sprite.svg#icon-left"></use>
        </svg>
      </div>
      <div class="tours-button-prev">
        <svg width="40" height="40">
          <use href="./images/sprite.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
